{% extends "base.html" %}
{% block content %}
    <div class="products-container">
        <h1 class="shop-title">Sweet Shop</h1>
        <div class="products">
            {% for product in products %}
            <div class="product-card">
                <div class="product-top">
                    <h2 class="product-name">{{ product.name }}</h2>
                    <img src="{{ url_for('static', filename='images/products/' + product.image_file) }}" alt="{{ product.name }}" class="product-image">
                </div>
                <div class="product-bottom">
                    <p class="product-price">Price: £{{ product.price }}</p>
                    <form method="post" action="{{ url_for('main.add_to_cart', product_id=product.id) }}" class="add-to-cart-form">
                        {{ form.csrf_token }}
                        Quantity: <input type="number" name="quantity" min="1" value="1" class="quantity-input">
                        <input type="submit" value="Add to Cart" class="btn btn-add-cart">
                    </form>
                    <a href="{{ url_for('main.product', product_id=product.id) }}" class="btn btn-view-details">View Details</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}